:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 80%;
  background-color: rgb(0, 238, 255);
}

.main-header {
  background-color: eggshellWhite;
}

body {
  margin-left: 350px;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

section div {
  text-align: left;
}

.paragraph-container {
  margin-bottom: 45px;
}

.section-display {
  background-color: white;
  display: flex;
  flex-flow: row
}

.left-align-div {
  width: 35%;
  color: gray;
  background-color: white;
  padding: .8rem 0 0 0;
  border: lightblue 1.5px solid;
  margin: 15px;
  padding: 10px;
}

h2 {
  font-size: 1.3rem;
}


h2,
p {
  text-align: left;

}


body header ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: underline;
  list-style: none;
  color: white;

}

body header div h1 {
  background-color: white;
  padding: 1.5rem;
  font-size: 5ch;
  font-weight: 100;
}

#footer-display {

  background-color: antiquewhite;
  padding: .7rem 0;
  text-decoration: underline;

}

footer div ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;

}

img {
  height: 175px;
  width: 175px;
}